html {
  background-color:#DCDCDC;
}
a:link, a:visited {
  padding: 20px;
  margin: 10px;
  list-style-type: none;
}
#back {
  list-style-type: none;
  padding: 20px;
  margin: 10px;
}
body {
  font-family: sans-serif;
  height: 100vh;
}
.panel {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  padding: 20px;
}
#form {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
input[type=submit] {
  background-color: #585858;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 10px 30px 0 0 30px 60px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
}
input[type=submit]:hover {
  background-color: grey;
}
input[name=email], input[type=password], input[name=username] {
  background-color: #f6f6f6;
  border: black;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 60%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}
input[type=text]:placeholder {
  color: grey;
}
#icon {
  width: 30%;
  margin-bottom: 20px; 
}
#home {
  width: 60px;
  margin-top: 10px;
  margin-left: 20px;
}
.error {
  color:red;
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  margin-bottom: 40px;
}
h4 {
  text-align: center;
  font-size: larger;
}
#submit {
  margin-top:20px;
  background-color: #778899;
  
}
#password {
  margin-top:10px;
}
p {
  text-align: center;
  font-size: 18px;
}
#registerIcon {
  width:60px;
  height: 60px;
  text-align: center;
}
#regLink {
  text-align: center;
}